@{
	ViewData["Title"] = "Register Page";
}

<div class="register-container">
	<img class="logo" src="~/images/logo.png" alt="Voyago">

	@(Html.Kendo().Form<Models.InputModels.RegisterUserInpuModel>()
		.Name("registerForm")
		.HtmlAttributes(new { controller="Account", action="Register", method="POST"})
		.Validatable(v =>
		{
			v.ValidateOnBlur(true);
			v.ValidationSummary(vs => vs.Enable(false));
		})
		.Items(items =>
		{
			items.Add()
			.Field(f => f.FirstAndLastName)
			.Label(l => l.Text("First and last name"));
			items.Add()
			.Field(f => f.Email)
			.Label(l => l.Text("Email"))
			.InputHtmlAttributes(new {@type = "email"});
			items.Add()
			.Field(f => f.Password)
			.Label(l => l.Text("Password"))
			.InputHtmlAttributes(new { @type="password",  pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d]{8,}$", required = "required", validationmessage = "Please enter a valid password."})
			.Hint("Your password must be at least 8 symbols and should include uppercase and lowercase letters and numbers");
		})
		.ButtonsTemplateId("formButtonsTmpl")
	)

	<div class="login-prompt">
		<p>Already have an account? <a class="login-link" href="/Account/Login" style="color:var(--voyago-blue);">Login</a></p>
	</div>
</div>

<script id="formButtonsTmpl" type="text/html">
	<button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary k-form-submit" type="submit">
		<span class="k-button-text">Register</span>
	</button>
</script>

<link rel="stylesheet" href="/css/register_form.css"/>