@{
	ViewData["Title"] = "Accessories";
}

<div class="sub-category-container">

	@(Html.Kendo().Breadcrumb()
	.Name("breadcrumb")
	.Navigational(true)
	.Items(items =>
	{
	items.Add()
	.Type(BreadcrumbItemType.RootItem)
	.Href("Index")
	.ShowText(false)
	.Icon("home")
	.ShowIcon(true);
	items.Add()
	.Type(BreadcrumbItemType.Item)
	.Href("Accessories")
	.Text("Accessories")
	.ShowText(true);
	})
	)

	<h4 class="category-heading-large">Accessories</h4>
	<div class="sub-category-images">
		<div>
			<a href="/Products/Category?subCategory=Bottles and Cages">
				<h5 class="category-heading">Botttles & Cages</h5>
				<img src="~/images/bottles_cages.png" class="category-image category-large-image" />
			</a>
		</div>
		<div class="inner-1">
			<div class="inner-2">
				<div>
					<a href="/Products/Category?subCategory=Lights">
						<h5 class="category-heading">Lights</h5>
						<img src="~/images/lights.png" class="category-image category-small-image" />
					</a>
				</div>
				<div>
					<a href="/Products/Category?subCategory=Locks">
						<h5 class="category-heading">Locks</h5>
						<img src="~/images/locks.png" class="category-image category-small-image" />
					</a>
				</div>
			</div>
			<div>
				<a href="/Products/Category?subCategory=Tires and Tubes">
					<h5 class="category-heading heading-double">Tires and Tubes</h5>
					<img src="~/images/tires_tubes2.png" class="category-image category-bottom-image" />
				</a>
			</div>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Pumps">
				<h5 class="category-heading">Pumps</h5>
				<img src="~/images/pumps.png" class="category-large-image" class="category-image" />
			</a>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/css/categories.css">
