@{
	ViewData["Title"] = "Bikes";
}

<div class="sub-category-container">
	@(Html.Kendo().Breadcrumb()
	.Name("breadcrumb")
	.Navigational(true)
	.Items(items =>
	{
	items.Add()
	.Type(BreadcrumbItemType.RootItem)
	.Href("Index")
	.ShowText(false)
	.Icon("home")
	.ShowIcon(true);
	items.Add()
	.Type(BreadcrumbItemType.Item)
	.Href("Bikes")
	.Text("Bikes")
	.ShowText(true);
	})
	)

	<h4 class="category-heading-large">Bikes</h4>
	<div class="sub-category-images">
		<div>
			<a href="/Products/Category?subCategory=Mountain Bikes">
				<h5 class="category-heading">Mountain Bikes</h5>
				<img src="~/images/mountain_bikes.png" class="category-image category-large-image" />
			</a>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Road Bikes">
				<h5 class="category-heading">Road Bikes</h5>
				<img src="~/images/road_bikes.png" class="category-image category-large-image" />
			</a>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Touring Bikes">
				<h5 class="category-heading">Touring Bikes</h5>
				<img src="~/images/touring_bikes.png" class="category-image category-large-image" />
			</a>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/css/categories.css">