@{
	ViewData["Title"] = "Clothing";
}

	<div class="sub-category-container">
		@(Html.Kendo().Breadcrumb()
		.Name("breadcrumb")
		.Navigational(true)
		.Items(items =>
		{
		items.Add()
		.Type(BreadcrumbItemType.RootItem)
		.Href("Index")
		.ShowText(false)
		.Icon("home")
		.ShowIcon(true);
		items.Add()
		.Type(BreadcrumbItemType.Item)
		.Href("Clothing")
		.Text("Clothes")
		.ShowText(true);
		})
		)

	<div class="category-heading-large">Clothes</div>
	<div class="sub-category-images">
		<div>
			<a href="/Products/Category?subCategory=Jerseys">
				<div class="category-heading">Jerseys</div>
				<img src="~/images/jerseys.png" class="category-image category-large-image" />
			</a>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Shorts">
				<div class="category-heading">Shorts</div>
				<img src="~/images/shorts.png" class="category-image category-large-image" />
			</a>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/css/clothing.css">