@{
	ViewData["Title"] = "Components";
}


	<div class="sub-category-container">
	@(Html.Kendo().Breadcrumb()
	.Name("breadcrumb")
	.Navigational(true)
	.Items(items =>
	{
	items.Add()
	.Type(BreadcrumbItemType.RootItem)
	.Href("Index")
	.ShowText(false)
	.Icon("home")
	.ShowIcon(true);
	items.Add()
	.Type(BreadcrumbItemType.Item)
	.Href("Components")
	.Text("Components")
	.ShowText(true);
	})
	)


	<h4 class="category-heading-large">Components</h4>
	<div class="sub-category-images">
		<div>
			<a href="/Products/Category?subCategory=Chains">
				<h5 class="category-heading">Chains</h5>
				<img src="~/images/chains.png" class="category-image category-large-image" />
			</a>
		</div>
		<div class="inner-1">
			<div class="inner-2">
				<div>
					<a href="/Products/Category?subCategory=Derailleurs">
						<h5 class="category-heading">Derailleurs</h5>
						<img src="~/images/derailleurs.png" class="category-image category-small-image" />
					</a>
				</div>
				<div>
					<a href="/Products/Category?subCategory=Forks">
						<h5 class="category-heading">Forks</h5>
						<img src="~/images/forks.png" class="category-image category-small-image" />
					</a>
				</div>
			</div>
			<div>
				<a href="/Products/Category?subCategory=Mountain Frames">
					<h5 class="category-heading heading-double">Mountain Frames</h5>
					<img src="~/images/mountain_frames.png" class="category-image category-small-image" />
				</a>
			</div>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Handlebars">
				<h5 class="category-heading">Handlebars</h5>
				<img src="~/images/handlebars.png" class="category-image category-large-image" />
			</a>
		</div>
	</div>

	<div class="sub-category-images">
		<div class="edge-image-container">
			<a href="/Products/Category?subCategory=Pedals">
				<h5 class="category-heading">Pedals</h5>
				<img src="~/images/pedals.png" class="category-image category-small-image" />
			</a>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Saddles">
				<h5 class="category-heading">Saddles</h5>
				<img src="~/images/saddles.png" class="category-image category-small-image" />
			</a>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Touring Frames">
				<h5 class="category-heading">Touring Frames</h5>
				<img src="~/images/touring_frames.png" class="category-image category-small-image" />
			</a>
		</div>
		<div class="edge-image-container">
			<a href="/Products/Category?subCategory=Wheels">
				<h5 class="category-heading">Wheels</h5>
				<img src="~/images/wheels.png" class="category-image category-small-image" />
			</a>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/css/category_components.css">

