@{
	ViewData["Title"] = "Components";
}


<div class="sub-category-container">

	@(Html.Kendo().Breadcrumb()
	.Name("breadcrumb")
	.Navigational(true)
	.Items(items =>
	{
	items.Add()
	.Type(BreadcrumbItemType.RootItem)
	.Href("Index")
	.ShowText(false)
	.Icon("home")
	.ShowIcon(true);
	items.Add()
	.Type(BreadcrumbItemType.Item)
	.Href("Components")
	.Text("Components")
	.ShowText(true);
	})
	)



	<div class="category-heading-large">Components</div>
	<div class="sub-category-images">
		<div>
			<a href="/Products/Category?subCategory=Chains">
				<div class="category-heading">Chains</div>
				<img src="~/images/chains.png" class="category-image category-large-image" />
			</a>
		</div>
		<div class="inner-1">
			<div class="inner-2">
				<div>
					<a href="/Products/Category?subCategory=Derailleurs">
						<div class="category-heading">Derailleurs</div>
						<img src="~/images/derailleurs.png" class="category-image category-small-image" />
					</a>
				</div>
				<div>
					<a href="/Products/Category?subCategory=Forks">
						<div class="category-heading">Forks</div>
						<img src="~/images/forks.png" class="category-image category-small-image" />
					</a>
				</div>
			</div>
			<div>
				<a href="/Products/Category?subCategory=Mountain Frames">
					<div class="category-heading heading-double">Mountain Frames</div>
					<img src="~/images/mountain_frames.png" class="category-image category-small-image" />
				</a>
			</div>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Handlebars">
				<div class="category-heading">Handlebars</div>
				<img src="~/images/handlebars.png" class="category-image category-large-image" />
			</a>
		</div>
	</div>

	<div class="sub-category-images-bottom">
		<div class="edge-image-container">
			<a href="/Products/Category?subCategory=Pedals">
				<div class="category-heading">Pedals</div>
				<img src="~/images/pedals.png" class="category-image category-small-image" />
			</a>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Saddles">
				<div class="category-heading">Saddles</div>
				<img src="~/images/saddles.png" class="category-image category-small-image" />
			</a>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Touring Frames">
				<div class="category-heading">Touring Frames</div>
				<img src="~/images/touring_frames.png" class="category-image category-small-image" />
			</a>
		</div>
		<div class="edge-image-container">
			<a href="/Products/Category?subCategory=Wheels">
				<div class="category-heading">Wheels</div>
				<img src="~/images/wheels.png" class="category-image category-small-image" />
			</a>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/css/components.css">

