@{
	ViewData["Title"] = "Home Page";
}

<div class="home-content">
	<div class="scrollview-container">
		@(Html.Kendo().ScrollView()
			.Name("scrollView")
			.ContentHeight("100%")
			.Items(x =>
			{
				x.Add().Content("<img src='/images/home_main_1.png'>");
				x.Add().Content("<img src='/images/home_main_2.png'>");
				x.Add().Content("<img src='/images/home_main_3.png'>");
				x.Add().Content("<img src='/images/home_main_4.png'>");
				x.Add().Content("<img src='/images/home_main_5.png'/>");
			})
			.HtmlAttributes(new { style = "width:100vw; max-width: 100%; margin: auto; height: 64.14vh;" })
		)
	</div>

	<div id="top-picks" class="top-picks-container">
		<h4 class="home-heading">Top picks</h4>
		<div class="top-picks-scrollview-container">
			@(Html.Kendo().ScrollView()
				.Name("topPicks")
				.EnablePager(false)
				.ContentHeight("100%")
				.TemplateId("topPicks-template")
				.DataSource(dataSource => dataSource
					.Custom()
					.Type("aspnetmvc-ajax")
					.Transport(transport => transport.Read(read => read.Action("GetTopSellingSubCategories", "Home",  new { count = 12 })))
					.Schema(s => s.Data("Data").Total("Total"))
					.ServerPaging(false)
					.PageSize(4)
				)
				.HtmlAttributes(new { style = "width: 90em; max-width: 100%; height: 20em; margin: auto; background: none;" })
			)
		</div>
	</div>

	<div class="categories-container">
		<div class="categories-header">
			<h4 class="categories-title">Categories</h4>
			@(Html.Kendo().Button()
				.Name("productCatalogBtn")
				.Icon("download")
				.Events(ev => ev.Click("productCatalogClick"))
				.Content("Downlaod  Product Catalog"))
		</div>

		<div class="categories-inner"> 
			<div class="column">
				<a href="/Home/Accessories">
					<h5 class="category-heading">Accessories</h5>
					<img src="~/images/accessories.png" class="category-image" />
				</a>
			</div>
		    <div class="column">
				<a href="/Home/Bikes">
					<h5 class="category-heading">Bikes</h5>
					<img src="~/images/bikes.png" class="category-image" />
				</a>
				<a href="/Home/Components" class="components-header">
					<h5 class="category-heading-components">Components</h5>
					<img src="~/images/components.png" class="category-image" />
				</a>
		  </div> 
		  <div class="column">
				<a href="/Home/Clothing">
					<h5 class="category-heading">Clothes</h5>
					<img src="~/images/clothes.png" class="category-image" />
				</a>
		  </div>
		</div>
	</div>

	<div class="recently-viewed">
		<h4 class="recently-viewed-title">Recently Viewed</h4>
			@(Html.Kendo().ListView<Models.ViewModels.ProductAllViewModel>()
				.Name("recentlyViewedListView")
				.TagName("div")
				.ClientTemplateId("product-template")
				.Bordered(false)
				.DataSource(dataSource => dataSource
					.Ajax()
					.ServerOperation(true)
					.Read(r => r.Action("GetRecentlyViewedProducts", "Home").Type(HttpVerbs.Get))
				)
				.Events(e => e.DataBound("onRecentlyViewedDataBound"))
			)
	</div>

	<hr class="splitter">
	<div class="download-app">
		<span class="download-text">Download Voyago application</span>
		<span class="downlaod-icons">
			<img src="~/images/gplay.svg" class="download-icon-1"/>
			<img src="~/images/appstore.svg" class="download-icon-2" />
		</span>
	</div>
</div>

<script id="topPicks-template" type="text/html">
	<div class="top-picks">
		# for (var i = 0; i < data.length; i++) { #
		<div class="top-pick-card">
			<a href="/Products/Category?subCategory=#=data[i].Name#">
				<h4 class="top-pick-heading">#= data[i].Name #</h4>
				<img src="~/images/#=data[i].ImageName#" class="top-pick-image"/>
			</a>
		</div>
		# } #
	</div>
</script>

<script type="text/html" id="product-template">
	@await Html.PartialAsync("/Views/Products/_TileProductCard.cshtml")
</script>

<script>
$(document).ready(function () {
		let topPicksSV = $("#topPicks").data("kendoScrollView");

        $(window).on('resize', function () {
			$("#scrollView").data("kendoScrollView").resize(true);
			$("#topPicks").data("kendoScrollView").resize(true);

			
			if (window.matchMedia("screen and (max-width: 960px)").matches) {
                topPicksSV.setDataSource(
					new kendo.data.DataSource({
						type:"aspnetmvc-ajax",
						transport:{
							read:{url:"/Home/GetTopSellingSubCategories?count=12"}
						},
						pageSize: 2,
						schema:{data:"Data",total:"Total"}
					})
				);
            } else if(window.matchMedia("screen and (max-width: 1370px)").matches) {
                topPicksSV.setDataSource(
                    new kendo.data.DataSource({
                        type: "aspnetmvc-ajax",
                        transport: {
                            read: { url: "/Home/GetTopSellingSubCategories?count=12" }
                        },
                        pageSize: 3,
                        schema: { data: "Data", total: "Total" }
                    })
                );
			} else {
				topPicksSV.setDataSource(
                    new kendo.data.DataSource({
                        type: "aspnetmvc-ajax",
                        transport: {
                            read: { url: "/Home/GetTopSellingSubCategories?count=12" }
                        },
                        pageSize: 4,
                        schema: { data: "Data", total: "Total" }
                    })
                );
			}
        });
});
</script>

<link rel="stylesheet" href="/css/home.css">