.order-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 946px;
    padding-inline: var( --viewport-padding-inline );
    margin: auto;
}

.order-details-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 59px;
    color: var(--eshop-black);
}

.order-details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
}

.ordered-by-container p,
.order-details-information p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: var(--eshop-black);
}

.order-details-information .order-information-title {
    font-weight: 600;
    color: var(--eshop-black);
}

.order-details-container .k-grid {
    margin-top: 80px;
    width: 100%;
}

.order-details-container .k-grid .k-header {
    font-weight: 600;
    color: #201F1E;
}

.view-invoice-container {
    align-self: end;
    margin-top: 23px;
}

.view-invoice-container .k-button {
    border-radius: 2px;
    padding: 9px 21px;
    width: 148px;
    height: 38px;
}

@media (max-width: 1024px) {
    .order-details-container {
        max-width: 946px;
        width: calc(100% - 80px);
    }
}

@media (max-width: 480px) {
    .order-details-header {
        flex-direction: column;
        gap: 20px;
    }
}
