.shopping-cart-container {
    display: flex;
    flex-direction: column;
    width: 1194px;
    padding-inline: var( --viewport-padding-inline );
    margin: auto;
}

.shopping-cart-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 59px;
    color: var(--eshop-black);
    text-align: center;
}

.empty-shopping-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 62px;
}

.empty-cart-image {
    width: 300px;
}

.empty-cart-heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    margin-top: 40px;
}

.shopping-cart-container .continue-shopping {
    font-weight: 600;
    color: var(--eshop-blue);
    margin: 31px auto 49px auto;
}

.shopping-cart-container .k-grid {
    border: none;
    background: transparent;
}

    .shopping-cart-container .k-grid .k-header {
        font-size: 16px;
        line-height: 22px;
        color: #605E5C;
    }

    .shopping-cart-container .k-grid .k-master-row {
        font-size: 20px;
        line-height: 28px;
    }

    .shopping-cart-container .k-grid .product-column {
        display: flex;
    }

        .shopping-cart-container .k-grid .product-column .product-image-container {
            width: 160px;
            display: flex;
            align-items: center;
        }

        .shopping-cart-container .k-grid .product-column .product-image {
            width: 100%;
        }

        .shopping-cart-container .k-grid .product-column .product-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-inline: 30px;
        }

        .shopping-cart-container .k-grid .product-column .product-name {
            font-size: 28px;
            line-height: 39px;
        }

        .shopping-cart-container .k-grid .product-column .remove-product {
            font-weight: 600;
            font-size: 14px;
            color: #201F1E;
        }

    .shopping-cart-container .k-grid .templateCell .quantity-editor {
        width: 102px;
    }

.sub-total-container {
    display: flex;
    justify-content: right;
    gap: 40px;
    align-items: center;
    margin-top: 36px;
}

    .sub-total-container .sub-total {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        line-height: 28px;
    }

    .sub-total-container #subTotalValue,
    .shopping-cart-container .k-grid .currency {
        font-weight: 600;
        color: #201F1E;
    }

    .sub-total-container .tax-and-shipping {
        font-size: 12px;
        line-height: 17px;
        text-align: right;
        color: #605E5C;
    }

    .sub-total-container .k-button {
        width: 185px;
        height: 38px;
    }
   
@media (max-width: 1500px) {
    .shopping-cart-container {
        max-width: 1194px;
        width: calc(100% - 80px);
    }
}

@media (max-width: 1024px) {
    .shopping-cart-container .k-grid .product-column {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

        .shopping-cart-container .k-grid .product-column .product-image-container {
            width: auto;
        }

        .shopping-cart-container .k-grid .product-column .product-details {
            align-items: center;
        }

        .shopping-cart-container .k-grid .product-column .product-name {
            text-align: center;
        }
}

@media (max-width: 768px) {
    .shopping-cart-container .k-grid {
        overflow-y: scroll;
    }

    .shopping-cart-container .k-grid .templateCell .quantity-editor {
        width: 100%;
    }

    .sub-total-container {
        justify-content: center;
        gap: 20px;
    }

    .sub-total-container .sub-total {
        flex-direction: column;
    }
}

