<div class="control">
	<h6 class="control-label">Model</h6>
	<ul id="modelPicker"></ul>
</div>

<div class="control">
	<h6 class="control-label">Size</h6>
	<ul id="sizePicker"></ul>
</div>

<div class="control">
	<h6 class="control-label">Color</h6>
	<ul id="colorPicker"></ul>
</div>