<div class="list-view-header">
	<div class="result-count">
		<p id="resultCount"></p>
		<div class="category-title">@ViewBag.SubCategory</div>
	</div>

	<div class="list-view-header-controls">
		@(Html.Kendo().DropDownList()
			.Name("sortBy")
			.OptionLabel("Sort by")
			.DataTextField("Text")
			.DataValueField("Value")
			.HtmlAttributes(new { style = "width: 174px; height:34px;" })
			.BindTo(new List<SelectListItem>() {
				new SelectListItem() {
					Text = "Price \u2011 Low to High",
					Value = "1",
				},
				new SelectListItem() {
					Text = "Price \u2011 High to Low",
					Value = "2"
				},
				new SelectListItem() {
					Text = "Name \u2011 A to Z",
					Value = "3"
				},
				new SelectListItem() {
					Text = "Name \u2011 Z to A",
					Value = "4"
				}
				})
			.Events(e => e.Change("sortDataSource"))
		)

		@(Html.Kendo().ButtonGroup()
			.Name("toggle-view")
			.Items(i =>
			{
				i.Add().Icon("group").Selected(true);
				i.Add().Icon("list-bulleted");
			})
			.HtmlAttributes(new { @class="toggle-view" })
		)
	</div>
</div>