<div class="list-view-header">
	<div class="result-count">
		<p id="resultCount"></p>
		<p class="category-title">@ViewBag.SubCategory</p>
	</div>

	<div class="list-view-header-controls">
		@(Html.Kendo().DropDownList()
			.Name("sortBy")
			.OptionLabel("Sort by")
			.DataTextField("Text")
			.DataValueField("Value")
			.HtmlAttributes(new { style = "width: 200px; height:30px;" })
			.BindTo(new List<SelectListItem>() {
                  new SelectListItem() {
                      Text = "Price \u2011 Low to High",
                      Value = "1",
					  
                  },
                  new SelectListItem() {
                      Text = "Price \u2011 High to Low",
                      Value = "2"
                  },
                  new SelectListItem() {
                      Text = "Name \u2011 A to Z",
                      Value = "3"
                  },
					new SelectListItem() {
                      Text = "Name \u2011 Z to A",
                      Value = "4"
                  }
              })
			.Events(e => e.Change("sortDataSource"))
		)

		@(Html.Kendo().ButtonGroup()
			.Name("toggle-view")
			.Items(i =>
			{
				i.Add().Icon("group").Selected(true);
				i.Add().Icon("list-bulleted");
			})
			.HtmlAttributes(new { @class="toggle-view" })
		)
	</div>
</div>

<link rel="stylesheet" href="/css/list_view_header.css">