<div class="controls">

	@{
		if (Context.Request.Path.ToString().Contains("Summary"))
		{
			@await Html.PartialAsync("_SummaryControls.cshtml")
		}
	}

	<h6>Filters</h6>

	@{
		if (Context.Request.Path.ToString().Contains("Category"))
		{
			<div class="control">
				<a href="/Products/Category?subCategory=@ViewBag.SubCategory">
					<div class="clear-all">
						<h6 style="color: black;">Clear All</h6>
						<img class="close-button" src="~/images/close_button.svg" alt="Clear All">
					</div>
				</a>
			</div>
		}
		else if (Context.Request.Path.ToString().Contains("Summary"))
		{
			<div class="control">
				<a href="/Products/Summary">
					<div class="clear-all">
						<h6 style="color: black;">Clear All</h6>
						<img class="close-button" src="~/images/close_button.svg" alt="Clear All">
					</div>
				</a>
			</div>
		}
	}

	<div class="control">
		<h6>Show</h6>
		@(Html.Kendo().CheckBoxGroup()
			.Name("discountPicker")
			.Items(i =>
			{
				i.Add().Label("All").Value("1");
				i.Add().Label("Discounted items only").Value("2");
			})
			.Value(new string[] { "1" })
			.Events(e => e.Change("toggleDiscountPicker"))
			)
	</div>

	@{
		if (Context.Request.Path.ToString().Contains("Category"))
		{
			@await Html.PartialAsync("_CategoryControls.cshtml")
		}
	}

	<div class="control">
		<h6 class="control-label">Rating</h6>
		@(Html.Kendo().CheckBoxGroup()
			.Name("ratingPicker")
			.Items(i =>
			{
				i.Add().Value("5").CssClass("rating-5");
				i.Add().Value("4").CssClass("rating-4");
				i.Add().Value("3").CssClass("rating-3");
				i.Add().Value("2").CssClass("rating-2");
				i.Add().Value("1").CssClass("rating-1");
			})
			.Events(e => e.Change("filterDataSource"))
			)
	</div>

	<div class="control">
		<h6 class="control-label">Price</h6>
		@(Html.Kendo().RangeSlider()
			.Name("priceSlider")
			.Min(0)
			.Max(4000)
			.SmallStep(100)
			.LargeStep(1000)
			.TickPlacement(SliderTickPlacement.Both)
			.Orientation(SliderOrientation.Horizontal)
			.HtmlAttributes(new { @class = "price-slider" })
			.Events(e => e.Change("filterDataSource"))
			)
	</div>

	<div class="control">
		<h6 class="control-label">Weight</h6>
		@(Html.Kendo().RangeSlider()
			.Name("weightSlider")
			.Min(0)
			.Max(1500)
			.SmallStep(25)
			.LargeStep(500)
			.TickPlacement(SliderTickPlacement.Both)
			.Orientation(SliderOrientation.Horizontal)
			.HtmlAttributes(new { @class = "weight-slider" })
			.Events(e => e.Change("filterDataSource"))
			)
	</div>
</div>

<script>
	$(document).ready(function () {
		addRatingVisual();
	});
</script>

<link rel="stylesheet" href="/css/main_controls.css">