<div class="k-card">
	<a style="position: relative;" href="/Products/Details?productId=#:Id#">
		<img class="k-card-image" src="@Url.Action("GetProductLargePhotoById", "Products")?photoId=#:PhotoId#" alt="#:Name# image" />
		# if(DiscountPct != 0) { #
			
				<span class="discount-pct">#:Number(DiscountPct) * 100#% off</span>

		# } #
	</a>
	<div class="k-card-body">
		<div class="k-card-header">
			<a style="text-decoration: none;" href="/Products/Details?productId=#:Id#">
				<h5>#:Name#</h5>
			</a>
			@{
				if (!Context.Request.Path.ToString().Contains("Home"))
				{
					<div class="avg-rating">
						<span class="k-icon k-i-star"></span>
						<span class="rating-text">#:AverageRating#/5</span>
					</div>
				}
			}
		</div>
		<div class="price-container">
@*			#if (FinalPrice != Price) { #
				<h5 class="card-old-price">#:kendo.toString(Price, "c")#</h5>
			#}#*@
			<h5 class="card-price">#:kendo.toString(FinalPrice, "c")#</h5>
		</div>
		<div class="card-buttons">
			@(Html.Kendo().Button()
				.Name("addToCartButton_#=Id#")
				.Content("Add to cart")
				.Icon("cart")
				.ThemeColor(ThemeColor.Primary)
				.HtmlAttributes(new { type = "button", @class = "cart-btn" })
				.Events(e => e.Click("addProductToShoppingCart"))
				.ToClientTemplate()
			)			
			@(Html.Kendo().Button()
				.Name("addToFavoritesButton_#=Id#")
				.Icon("heart-outline")
				.HtmlAttributes(new { type = "button", @class ="favorites-btn" })
				.Events(e => e.Click("addProductToFavorites"))
				.ToClientTemplate()
			)
		</div>
	</div>
</div>

<link rel="stylesheet" href="/css/tile_product_card.css">