@{
	ViewData["Title"] = "Contacts Home Page";
}

<div class="contacts-container">
    <div class="header-contacts">Contacts</div>
    <div id="contacts-submit-success"></div>
    @(Html.Kendo().Form<Models.InputModels.ContactsInputModel>()
        .Name("contacts")
        .HtmlAttributes(new { action = "Index", controller = "Contacts", method = "POST", @class="contact-form" })
        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
        .ButtonsTemplateId("contactsFormButtons")
        .Items(i =>
        {
            i.Add()
                .Field(f => f.Name)
                .Label(l => l.Text("Name"));
            i.Add()
                .Field(f => f.Email)
                .InputHtmlAttributes(new {@type = "email"})
                .Label(l => l.Text("Email"));
            i.Add()
                .Field(f => f.Message)
                .Label(l => l.Text("Message"))
                .Editor(editor => editor.TextArea().Rows(5));
            i.Add().Field("Captcha")
                .Hint("Type the characters you see in the picture above.")
                .Label(l => l.Text("Anti-bot validation"))
                .Editor(ed => ed.Captcha()
                .AudioButton(false)
                .CaptchaImage((string)ViewData["Captcha"])
                .CaptchaId((string)ViewData["CaptchaID"])
                .DataCaptchaField("Captcha")
                .DataCaptchaIdField("CaptchaID")
                .Handler(handler => handler.Action("Reset_Events", "Contacts"))
                .ValidationHandler(handler => handler.Action("Validate_Events", "Contacts"))
            );
        })
        .Events(ev => ev.Submit("onContactsFormSubmit").ValidateField("onContactsFormValidate"))
    )
    <div class="location-container">
	    <span class="location-message">
            United States<br>
            932 Clousson Road Str<br>
            Sergeant Bluff, Iowa<br>
            712-923-1916<br>
            51054 United States<br>
            932 Clousson Road Str<br>
            Sergeant Bluff, Iowa<br>
            712-923-1916<br>
            51054
        </span>
        <div class="map-container">
            @(Html.Kendo().Map()
                .Name("mapControl")
                .Center(45.186311315286865, -96.887458245503)
                .Zoom(3)
                .Layers(layers =>
                {
                    layers.Add()
                        .Type(MapLayerType.Tile)
                        .UrlTemplate("https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                        .Subdomains("a", "b", "c")
                        .Attribution("&copy; <a href='https://osm.org/copyright'>OpenStreetMap contributors</a>");
                })
                .Markers(markers =>
                {
                    markers.Add()
                        .Location(45.186311315286865, -96.887458245503)
                        .Shape(MapMarkersShape.PinTarget)
                        .Tooltip(tooltip => tooltip.Content("Iowa"));
                })
            )
        </div>
    </div>
</div>


<script type="text/x-kendo-template" id="contactsFormButtons">
    <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary k-form-submit" type="submit">
        <span class="k-button-text">Submit</span>
    </button>
</script>
