@{
    ViewData["Title"] = "Login Page";
}

@model Models.InputModels.LoginUserInpuModel

<div class="login-register-container">
    <img class="logo" src="@Url.Content("~/images/logo.svg")" alt="E-Shop"/>

    @(Html.Kendo().Form<Models.InputModels.LoginUserInpuModel>()
        .Name("loginForm")
        .HtmlAttributes(new { controller = "Account", action = "Login", method = "POST", @class = "login-register-form"})
        .Validatable(v => 
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
        .FormData(Model)
        .Layout("grid")
        .Grid(g => g.Cols(1).Gutter(14))
        .Items(items => 
        {
            items.Add()
                .Field(f => f.Email)
                .Label(l => l.Text("Email"))
                .InputHtmlAttributes(new {@type = "email"});
            items.Add()
                .Field(f => f.Password)
                .Label(l => l.Text("Password"))
                .InputHtmlAttributes(new { type="password"})
                .Hint("Forgot Password?");
        })
        .ButtonsTemplateId("formButtonsTmpl")
    )

    <div class="register-prompt">
        <p>Don't have an account?</p><a class="login-link" href="@Url.Action("Register","Account")">Register</a>
    </div>
</div>

<script id="formButtonsTmpl" type="text/html">
    <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary k-form-submit" type="submit">
        <span class="k-button-text">Login</span>
    </button>
</script>
