<footer class="footer-container">
	<div class="footer-categories">
		<div class="footer-heading">Categories</div>
		<a class="footer-categories-item" href="@Url.Action("Components","Home")">
			<span>Components</span>
		</a>
		<a class="footer-categories-item" href="@Url.Action("Bikes","Home")">
			<span>Bikes</span>
		</a>
		<a class="footer-categories-item" href="@Url.Action("Clothing","Home")">
			<span>Clothes</span>
		</a>
		<a class="footer-categories-item" href="@Url.Action("Accessories","Home")">
			<span>Accessories</span>
		</a>
	</div>
	<div class="footer-contacts">
		<div class="footer-heading">Contacts</div>
		<p class="footer-contacts-item">
			United States<br />
			932 Clousson Road Str<br />
			Sergeant Bluff, Iowa<br />
			712-923-1916<br />
			51054
		</p>
		<span class="footer-contacts-email">contacts@voyago.com</span>
	</div>
	<div class="footer-payment-methods">
		<div class="footer-heading">Payment Methods</div>
		<img src="~/images/payments.svg" />
	</div>	
	<div class="footer-socials">
		<div class="footer-heading">Socials</div>
		<div class="footer-socials-icons">
			<img src="~/images/fb.svg" class="social-icon-1"/>
			<img src="~/images/yt.svg" class="social-icon-2"/>
		</div>
		<span class="footer-logo">
			<img class="progress-logo" src="~/images/progress_software_logo.png" />
			<span> | All Rights reserved</span>
		</span>
	</div>	
</footer>
