<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Web</title>

	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
	<link href="https://cdn.kendostatic.com/2022.2.802/styles/kendo.default-turquoise.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.kendostatic.com/2022.2.802/js/jquery.min.js"></script>
	<script src="https://cdn.kendostatic.com/2022.2.802/js/jszip.min.js"></script>
	<script src="https://cdn.kendostatic.com/2022.2.802/js/kendo.all.min.js"></script>
	<script src="https://cdn.kendostatic.com/2022.2.802/js/kendo.aspnetmvc.min.js"></script>
	<script src="~/js/product_details.js"></script>
	<script src="~/js/shopping_cart.js"></script>
	<script src="~/js/datasource.js"></script>
	<script src="~/js/favorites.js"></script>
	<script src="~/js/other.js"></script>
</head>
<body class="k-content">

	@if (User.Identity != null && User.Identity.IsAuthenticated)
	{
		@await Html.PartialAsync("~/Views/Shared/_Header.cshtml")
	}

	<main>
		@RenderBody()
	</main>

	@if (User.Identity != null && User.Identity.IsAuthenticated)
	{
		@await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
	}

	<environment names="Development">
		<script src="~/lib/bootstrap/js/bootstrap.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
	</environment>
	@RenderSection("scripts", required: false)
</body>
</html>

<style>
	body {
		padding-top: 114px;
		margin-bottom: 0px;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	main {
		margin-bottom: 80px;
	}
	
	.k-breadcrumb-link {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: var(--voyago-green);
	}

	.k-i-star {
		color: var(--voyago-green);
		font-size: 14px;
	}

	.k-rating-precision-complement {
		color: var(--voyago-green);
		font-size: 14px;
	}

	.k-pager-numbers .k-link.k-selected, .k-pager-numbers .k-link.k-state-selected {
		color: var(--voyago-green);
	}

	.k-badge-solid.k-badge-primary {
		border-color: var(--voyago-green);
		color: #fff;
		background-color: var(--voyago-green);
	}

	.k-slider .k-slider-selection {
		background-color: var(--voyago-green);
	}

	.k-slider .k-draghandle {
		border-color: var(--voyago-green);
		color: #fff;
		background-color: var(--voyago-green);
		border-radius: 50%;
	}

		.k-slider .k-draghandle.k-pressed, .k-slider .k-draghandle:active {
			border-color: var(--voyago-green);
			background-color: var(--voyago-green);
		}

	.k-checkbox.k-checked, .k-checkbox:checked {
		border-color: var(--voyago-green);
		color: #fff;
		background-color: var(--voyago-green);
	}

	.k-pager-numbers {
		color: var(--voyago-green);
	}

	.k-tick {
		display: none;
	}

	.k-tick-large {
		display: inherit;
	}

</style>