.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 946px;
    padding-inline: var( --viewport-padding-inline );
    margin: auto;
}

.header-contacts {
    font-weight: 600;
    font-size: 42px;
    line-height: 59px;
    color: var(--voyago-black);
}

.contact-form {
    margin-top: 45px;
    width: 100%;
    min-width: 150px;
}

.contact-form .k-form-field .k-input-inner:not(#Message),
.contact-form .k-form-field-wrap .k-captcha-input .k-input {
    height: 38px !important;
    padding: 0px;
}

.contact-form .k-form-field #Message {
    height: 110px;
    padding: 0px;
}

.contact-form .k-label.k-form-label {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: var( --voyago-dark-grey );
}

.contact-form .k-form-hint, .contacts-submit-success {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
}

.contact-form .k-form-buttons {
    margin-top:12px;
}

.contact-form .k-button.k-form-submit {
    width: 207px;
    height: 38px;
    border-radius: 2px;
    padding: 9px 21px;
}

.contact-form .k-form .k-button-text {
    height: 20px;
    font-weight: 600;
}

.location-container {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    width: 100%;
}

.location-message {
    flex: 1 2 10%;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    color: var( --voyago-dark-grey );
    font-size: 16px;
    line-height: 24px;
}

.map-container {
    flex: 2 1 auto;
}

.map-container .k-map {
    height: 336px;
}

@media (max-width: 1024px) {
    .contacts-container {
        max-width: 946px;
        width: calc(100% - 80px);
    }
}

@media (max-width: 768px) {
    .contacts-container {
        width: calc(100% - 50px);
        padding-inline: 5px;
    }

    .location-container {
        flex-direction: column;
        gap: 20px;
    }

    .map-container {
        flex: 100%;
    }
}
