.contacts-container {
    display: flex;
    flex-direction: column;
    margin: 95px 240px 80px 240px;
}

.header-contacts {
    font-size: calc(42px + 0.390625vw);
    line-height: calc(59px + 0.390625vw);
    font-weight: 600;
    text-align: center;
    color: #000000;
    height: 59px;
    top: calc(50% - 59px/2);
    padding: 0px;
}

#contacts {
    margin-top: 45px;
    height: 462px;
}

#contacts .k-form-field:not(:last-child) {
    height: 68px;
}

    #contacts .k-form-field:last-child {
        height: 95px;
        margin-top: 75px;
    }

    .k-input-inner:not(#Message) {
        height: 38px;
    }

.k-label.k-form-label {
    height: 20px;
}

#contacts .k-form-hint, .contacts-submit-success {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
}

#contacts .k-button.k-form-submit {
    width: 207px;
    height: 38px;
    padding: 9px 21px;
    gap: 8px;
    border-radius: 2px;
    margin-top: 70px;
}

#contacts .k-button-text {
    height: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 165px;
}

.location-message {
    flex: 1 2 10%;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    color: #323130;
    font-size: 16px;
    line-height: 24px;
}

.map-container {
    flex: 2 1 auto;
    width: 700px;
}

@media (max-width: 1500px) {
    .contacts-container {
        width: 85%;
        margin: 10% auto;
        margin-bottom: 5%;
    }

    .location-container {
        flex-direction: column;
        gap: 30px;
    }

    .map-container {
        width: 80vw;
    }
}
