.favorites-container {
    display: flex;
    flex-direction: column;
    margin: 5em 10em 5em 10em;
}

.favorites-title {
    font-weight: 600;
    font-size: calc(42px + 0.390625vw);
    line-height: calc(59px + 0.390625vw);
    text-align: center;
}

.favorites-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.continue-shopping {
    font-weight: 600;
    font-size: calc(14px + 0.390625vw);
    line-height: calc(20px + 0.390625vw);
    color: var(--voyago-blue);
}

#favouritesReportBtn {
    height: 38px;
    width: 200px;
    align-self: center;
}

#favoritesListView {
    border: none;
    background: none;
    margin-top: 3%;
}

#allProductsListView .favorite-product-container {
    width: 100%;
}

.favorite-product-container {
    padding: 1%;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.5%;
}

.favorite-product-image {
    flex: 1 2 1%;
}

    .favorite-product-image img {
        width: 100%;
        min-width: 200px;
        max-width: 300px;
    }



.favorite-product-info-container {
    display: flex;
    flex-direction: column;
    flex: 3 1 1%;
}

.favorite-product-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 1 1%;
}

.favorite-product-name {
    font-weight: 600;
    font-size: calc(28px + 0.390625vw);
    line-height: calc(39px + 0.390625vw);
}

.avg-rating {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
}

.rating-text {
    font-weight: 600;
    font-size: calc(16px + 0.390625vw);
    line-height: calc(22px + 0.390625vw);
    margin-left: 5px;
}

.favorite-product-description {
    text-align: left;
    font-size: calc(14px + 0.390625vw);
    line-height: calc(20px + 0.390625vw);
    margin-top: 3%;
}

.price {
    font-size: calc(32px + 0.390625vw);
    color: var(--voyago-blue);
    text-align: right;
}

.favorite-product-controls .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.favorite-product-controls .k-button {
    width: 100%;
}

@media (max-width: 1000px) {
    .favorite-product-container {
        flex-direction: column;
        padding: 5%;
        margin-bottom: 10%;
    }

    #favoritesListView {
        margin-top: 3%;
    }

    .favorite-product-image {
        align-self: center;
    }

    .favorite-product-controls {
        gap: 20px;
    }
}

@media (max-width: 630px) {
    .favorites-container {
        margin: 1em 2em 3em 2em;
    }

    .favorites-header {
        flex-direction: column;
        gap: 20px;
    }

    .continue-shopping {
        align-self: center;
    }
}

