.category-heading-large {
    font-weight: 600;
    font-size: 42px;
    line-height: 59px;
    color: var(--voyago-black);
    margin: 49px auto 36px auto;
}

.category-heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    padding: 12px 16px;
}

.sub-category-images,
.sub-category-images-bottom {
    display: flex;
    gap: 3%;
}

.sub-category-images-bottom {
    margin-top: 52px;
}

.sub-category-images-components {
    display: flex;
    gap: 2%;
}

.sub-category-container .column {
    flex: 30%;
    max-width: 40%;
}

.sub-category-container .column-clothes {
    flex: 50%;
    max-width: 50%;
}

.sub-category-container .middle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column .middle-container-inner {
    display: flex;
    justify-content: space-between;
}

.sub-category-images-bottom .category-edge-image {
    width: 209px;
}

@media (max-width: 1500px) {
    .sub-category-container img {
        width: 100%;
    }

    .sub-category-images .middle-container-inner {
        gap: 10%;
    }

    .sub-category-images-components .middle-container-inner {
        gap: 5%;
    }

    .sub-category-images-bottom .category-edge-image {
        max-height: 176px;
    }

    .sub-category-images-bottom .category-long-image {
        min-height: 176px;
    }
}

@media (max-width: 1024px) {
    .sub-category-images,
    .sub-category-images-components,
    .sub-category-images-bottom {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sub-category-container .column {
        flex: 100%;
        max-width: 50%;
        gap: 20px;
    }

    .sub-category-images .column-clothes {
        flex: 100%;
        max-width: 80%;
        gap: 20px;
    }

    .sub-category-images-bottom {
        margin-top: 20px;
    }

    .sub-category-images-components .middle-container-inner img {
        min-height: 160px;
    }

    .sub-category-images-bottom .category-edge-image {
        width: 100%;
        max-height: auto;
    }

    .sub-category-images-bottom .category-long-image {
        min-height: auto;
    }
}

@media (max-width: 768px) {
    .sub-category-container .column,
    .sub-category-images .column-clothes {
        max-width: 100%;
    }

    .sub-category-images-components .middle-container-inner a {
        flex: 50%;
        max-width: 50%;
    }

    .sub-category-images-components .middle-container-inner .category-heading {
        padding: 12px 0px;
    }
}