.home-content {
    display: flex;
    flex-direction: column;
}

#topPicks .k-scrollview-wrap li.k-scrollview-page {
    width: inherit !important;
}

#scrollView .k-scrollview-wrap img {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.top-picks-container {
    height: 30em;
    left: 0px;
    background-color: #C7E0F4;
}

.home-heading {
    font-weight: 600;
    font-size: calc(42px + 0.390625vw);
    line-height: calc(59px + 0.390625vw);
    color: #000000;
    margin: 1.5rem auto 1.5rem 15rem;
}

.top-picks {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    justify-content: center;
    flex-wrap: wrap;
}

.top-pick-card {
    background: #FFFFFF;
    width: 18.5em;
    height: 20em;
}

.top-pick-heading {
    font-weight: 600;
    font-size: 1.75em;
    color: #323130;
    border-radius: 0px;
    padding: 0.6em 0.3em 0.5em 0.3em;
    margin: 0;
}

.top-pick-image {
    width: 100%;
    height: 16em;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.categories-container {
    margin: 5em 14em 5em 14em;
}

.categories-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categories-title {
    font-weight: 600;
    font-size: calc(42px + 0.390625vw);
    line-height: calc(59px + 0.390625vw);
    color: #000000;
}

.category-image {
    width: 100%;
}

.category-heading-components {
    margin-top: 18px;
}

#productCatalogBtn {
    height: 38px;
    align-self: center;
}

.categories-inner {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 3%;
}

.column {
    flex: 30%;
    max-width: 40%;
}

.category-heading {
    font-weight: 600;
    font-size: 1.75em;
    line-height: 2.45em;
    padding-left: 4%;
}

.category-heading-components {
    font-weight: 600;
    font-size: 1.75em;
    padding-left: 4%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.recently-viewed {
    margin: 0em 14em 5em 14em;
}

    .recently-viewed-title {
        font-weight: 600;
        font-size: calc(42px + 0.390625vw);
        line-height: calc(59px + 0.390625vw);
        color: #000000;
        margin-bottom: 1.5rem;
    }

    #recentlyViewedListView .k-listview-content {
        display: flex;
        flex-direction: row;
        justify-content: start;
        border: none;
        flex-wrap: wrap;
    }

    #recentlyViewedListView .k-card {
        height: 36em;
        width: 270px;
        margin-left: 10px;
        margin-right: 0;
    }

    #recentlyViewedListView .k-card-header {
        padding-block: var(--kendo-card-header-padding-y,.75rem);
    }

        #recentlyViewedListView .k-card-header .card-title {
            line-height: 1em;
        }

.splitter {
    border: 1px solid #E5E5E5;
    height: 0px;
}

.download-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin: 3em 10em 3em 10em;
}

.download-text {
    font-weight: 400;
    font-size: 1.75em;
}

.downlaod-icons {
    display: flex;
    flex-direction: row;
}

.download-icon-2 {
    margin-left: 24px;
}

@media (max-width: 1400px) {
    .recently-viewed {
        margin: 0em 5em 3em 5em;
    }
}

@media (max-width: 1300px) {
    .home-heading {
        margin: 0.5rem auto 0.5rem 15rem;
    }

    .categories-container {
        margin: 3em 25em 3em 25em;
    }

    .categories-header {
        flex-direction: column;
        gap: 20px;
    }

    .categories-title {
        align-self: center;
    }

    .column {
        flex: 100%;
        max-width: 100%;
        margin-top: 1%;
    }

    #recentlyViewedListView .k-card .card-buttons {
        height: 40px;
    }
}

@media (max-width: 1230px) {
    .home-heading {
        margin: 0.5rem auto 0.5rem 7rem;
    }

    .recently-viewed {
        margin: 0em 5em 3em 5em;
    }

    .recently-viewed-title {
        text-align: center;
    }

    #recentlyViewedListView .k-listview-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

        #recentlyViewedListView .k-listview-content .k-card {
            flex: 100%;
            max-width: 100%;
        }
}

@media (max-width: 1000px) {

    .categories-container {
        margin: 3em 15em 3em 15em;
    }
}

@media (max-width: 900px) {

    .home-heading {
        margin: 0.2rem auto 0.4rem 5rem;
    }

    .recently-viewed {
        margin: 0em 3em 3em 3em;
    }

    .download-app {
        flex-direction: column;
        margin: 0em 3em 3em 3em;
    }

    .download-text {
        margin: 1em auto;
        text-align: center;
    }
}

@media (max-width: 730px) {

    .categories-container {
        margin: 3em 10em 3em 10em;
    }
}

@media (max-width: 630px) {

    #topPicks {
        width: 60em;
        height: 19em;
    }

    .top-pick-card {
        width: 16em;
        height: 19em;
    }

    .top-pick-image {
        height: 17em;
    }

    .column {
        margin-top: 10%;
    }
}

@media (max-width: 560px) {

    .categories-container {
        margin: 3em 3em 3em 3em;
    }
}

@media (max-width: 460px) {
    .home-heading {
        margin: 0.2rem auto 0.4rem 1rem;
    }

    .top-pick-card {
        width: 15em;
        height: 20em;
    }

    .top-pick-image {
        height: 16em;
    }

    .recently-viewed {
        margin: 0em 1em 2em 1em;
    }

    .download-app {
        margin: 0em 1em 1em 1em;
    }

    .downlaod-icons {
        flex-direction: column;
    }

    .download-icon-2 {
        margin-left: 0;
    }

}

@media (max-width: 360px) {
    .categories-container {
        margin: 3em 2em 3em 2em;
    }
}


