.list-view-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.result-count {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.result-count .category-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 59px;
    color: var( --voyago-black );
}

.list-view-header-controls {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

[aria-controls="sortBy_listbox"] {
    background: var( --voyago-white );
    border: 1px solid #605E5C;
    border-radius: 2px;
}

@media (max-width: 1200px) {
    .list-view-header {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}