.filters-container {
    display: flex;
    flex-direction: column;
    background: #F3F2F1;
    border-radius: 2px;
    width: 330px;
    padding-inline: 24px;
}

    .filters-container .controls {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
    }

    .filters-container .filters-title {
        font-size: 20px;
        line-height: 28px;
        margin: 24px auto 24px 0px;
    }

    .filters-container .controls .clear-all {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .filters-container .controls .control {
        display: flex;
        flex-direction: column;
        gap: 8px;
        box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
        border-radius: 2px;
        background: var( --voyago-white );
        font-weight: 600;
        padding: 16px;
    }

        .filters-container .controls .control .control-label {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #201F1E;
        }

.price-slider, .weight-slider {
    align-self: center;
    margin: auto 24px 22px 24px;
}

@media (max-width: 460px) {
    .filters-container {
        width: auto;
        padding-inline: 10px;
    }
}
