.order-details-container {
    display: flex;
    flex-direction: column;
    margin: 95px 240px 80px 240px;
    /*margin: 5em 10em 5em 10em;*/
}

.order-details-title {
    font-weight: 600;
    font-size: calc(42px + 0.390625vw);
    line-height: calc(59px + 0.390625vw);
    color: #000000;
    height: 59px;
    top: calc(50% - 59px/2);
    padding: 0px;
    margin-bottom: 24px;
    text-align: center;
}

.order-details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 0;
    /*margin: 5% 0;*/
}

.ordered-by-container p, .order-details-information p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #000000;
}

.order-details-information .order-information-title {
    font-weight: 600;
}

.view-invoice-container {
    align-self: end;
    margin-top: 23px;
}

#invoideBtn {
    padding: 9px 21px;
    gap: 8px;
    width: 148px;
    height: 38px;
}

@media (max-width: 1450px) {
    .order-details-container {
        margin: 65px 100px 40px 100px;
    }
}

@media (max-width: 1200px) {
    .order-details-container {
        margin: 40px 30px 30px 30px;
    }
}


@media (max-width: 800px) {
/*    .order-details-container {
        margin: 2em 5em 5em 5em;
    }*/

    .order-details-header {
        flex-direction: column;
        gap: 20px;
    }
}
