.model-details {
    display: flex;
    flex-direction: row;
    margin-top: 49px;
    gap: 40px
}

.model-details .model-image-container {
    width: 453px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

    .model-details .model-image-container .model-image {
        width: 100%;
    }

.model-details .model-info-container {
    display: flex;
    flex-direction: column;
}

.model-info-container .model-heading {
    display: flex;
    flex-direction: column;
}

    .model-info-container .model-heading .model-title {
        font-weight: 600;
        font-size: 42px;
        line-height: 59px;
        color: var(--voyago-black);
    }

.model-info-container .splitter1 {
    border: 1px solid #EDEBE9;
    width: 100%;
    margin-top: 21px;
    margin-bottom: 12px;
}

.model-info-container .model-data {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.model-info-container .model-data-left-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

    .model-info-container .model-data-left-container .model-data-row {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
    }

    .model-info-container .model-data-left-container .title {
        color: #605E5C;
        flex: 0 0 20%;
    }

    .model-info-container .model-data-left-container .size .k-dropdownlist {
        width: 174px;
    }

    .model-info-container .model-data-right-container .price {
        font-weight: 600;
        font-size: 42px;
        line-height: 59px;
        color: var(--voyago-blue);
        text-align: right;
    }

.model-info-container .model-data-right-container .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 24px;
}

    .model-info-container .model-data-right-container .buttons-container .k-button {
        width: 330px;
        height: 38px;
    }

.model-details-container .splitter2 {
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px solid #EDEBE9;
}

.similar-products-title {
    font-size: 32px;
    line-height: 45px;
    color: var(--voyago-black);
    margin-bottom: 24px;
}

.similar-products .k-listview .k-listview-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 40px;
}

@media (max-width: 1500px) {
    .similar-products .k-listview .k-listview-content {
        justify-content: center;
    }

    .model-info-container .model-data-right-container .buttons-container .k-button {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .model-details {
        flex-direction: column;
    }

        .model-details .model-image-container {
            align-self: center;
            width: auto;
        }
}

@media (max-width: 768px) {
    .model-info-container .model-data {
        flex-direction: column;
    }

    .model-info-container .model-data-left-container .title {
        flex: 0 0 30%;
    }

    .similar-products-title {
        text-align: center;
    }

    .similar-products .k-listview-content .k-card {
        max-width: 100%;
        height: auto;
    }
}
