.profile-container {
    display: flex;
    flex-direction: column;
    margin: 6.3% auto 5.3% auto;
    width: 40%;
    min-width: 400px;
}

    .profile-header {
    font-weight: 600;
    font-size: calc(42px + 0.390625vw);
    line-height: calc(59px + 0.390625vw);
    text-align: center;
    color: #000000;
}

.k-tabstrip-items {
    justify-content: center;
    font-weight: 600;
}

    .k-tabstrip-items .k-item {
        min-width: 27%;
    }

        .k-tabstrip-items .k-item .k-link {
            justify-content: center;
            gap: 4px;
        }

        .k-tabstrip-items .k-item .k-image {
            width: 16px;
            height: 16px;
        }

#personal_details .k-form-layout, #shipping_details .k-form-layout {
    row-gap: 17px;
    column-gap: 24px;
}

.k-form-field {
    height: 64px;
}

.k-input-inner {
    height: 34px;
}

.k-label.k-form-label {
    height: 20px;
}

.k-button.k-form-submit {
    padding: 9px 21px;
    gap: 8px;
    width: 72px;
    height: 38px;
    gap: 8px;
}

.k-button.k-form-clear {
    padding: 9px 21px;
    gap: 8px;
    width: 84px;
    height: 38px;
}

.k-form-buttons .k-button-text {
    font-weight: 600;
    height: 20px;
}

@media (max-width: 650px) {
    #password_details .k-form-field {
        height: 80px;
    }

    .k-tabstrip-items .k-item {
        min-width: 0;
    }
}

@media (max-width: 450px) {
    .profile-container {
        min-width: 300px;
    }
}
