.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding-inline: var( --viewport-padding-inline );
    margin: auto;
}

.profile-header {
    font-weight: 600;
    font-size: 42px;
    line-height: 59px;
    color: var(--voyago-black);
}

.profile-container .k-tabstrip {
    width: 100%;
    margin-top: 36px;
}

.profile-container .k-tabstrip-items {
    justify-content: space-around;
    font-weight: 600;
    color: #201F1E;
}

    .profile-container .k-tabstrip-items .k-item {
        min-width: 27%;
    }

        .profile-container .k-tabstrip-items .k-item .k-link {
            justify-content: center;
            gap: 6px;
        }

        .profile-container .k-tabstrip-items .k-item .k-image {
            width: 16px;
            height: 16px;
        }

.profile-container .k-form .k-input-inner {
    height: 34px;
}

.profile-container .k-label.k-form-label {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: var( --voyago-dark-grey );
}

.profile-container .k-form-hint {
    color: #605E5C;
}

.profile-container .k-button.k-form-submit {
    padding: 9px 21px;
    width: 72px;
    height: 38px;
}

.profile-container .k-button.k-form-clear {
    padding: 9px 21px;
    width: 84px;
    height: 38px;
}

.profile-container .k-form-buttons .k-button-text {
    font-weight: 600;
}

@media (max-width: 1500px) {
    .profile-container {
        max-width: 600px;
        width: calc(100% - 80px);
    }

        .profile-container .k-tabstrip-items {
            justify-content: center;
        }
}
