html {
    position: relative;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

:root {
    --voyago-blue: #0078D4;
    --voyago-black: #000000;
    --voyago-dark-grey: #323130;
    --voyago-white: #FFFFFF;
    --viewport-width: 1440px;
    --viewport-padding-inline: 30px;
}

body {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--voyago-dark-grey);
    margin: 0 0 372px 0;
}

a, a:hover {
    text-decoration: none;
    color: var(--voyago-dark-grey);
}

.k-i-arrow-n::before {
    content: "\e013" !important;
}

.k-i-arrow-s::before {
    content: "\e015" !important;
}

.wrap-width {
    width: var( --viewport-width );
    padding-inline: var( --viewport-padding-inline );
    margin: auto;
}

.k-breadcrumb-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: #605E5C;
}

.k-breadcrumb-last-item {
    color: var(--voyago-dark-grey);
}

@media (max-width: 1500px) {
    .wrap-width {
        max-width: var( --viewport-width );
        width: calc(100% - 80px);
    }
}

@media (max-width: 1024px) {
    .wrap-width {
        width: calc(100% - 60px);
    }
}

@media (max-width: 480px) {
    .wrap-width {
        width: calc(90% - 30px);
    }
}