html {
    position: relative;
    min-height: 100%;
}

:root {
    --voyago-green: #4AA675;
    --voyago-blue: #0078D4;
}

body {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #323130;
    margin-bottom: 372px;
}

a, a:hover {
    text-decoration: none;
    color: #323130;
}

.k-popup .k-item, .k-list-item, .k-list-optionlabel {
    outline: none!important;
}


.k-breadcrumb-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: #605E5C;
}

.k-breadcrumb-last-item {
    color: #323130;
}

.k-tick {
    display: none;
}

.k-tick-large {
    display: inherit;
}