﻿.k-listview {
    border: none;
}

.k-listview-content > .k-focus {
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
}

.k-card {
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 330px;
    height: 467px;
}

.k-card-image {
    width: 100%;
    height: 264px;
}

.k-card-header {
    padding-block: var(--kendo-card-header-padding-y,.10rem);
}

.k-card-header h5 {
    font-weight: 600;
    font-size: 1em;
    line-height: 2.4em;
    color: #000000;
}

.k-card-header .avg-rating {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
}

    span.rating-text {
        font-weight: 500;
        font-size: 0.93rem;
    }

span.discount-pct {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    background: var(--voyago-blue);
    padding: 2%;
    padding-right: 4%;
}

.price-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

    .card-price {
        font-weight: 400;
        padding: 0px 0px 0px 12px;
        font-size: 2rem;
        color: var(--voyago-blue);
    }

    .card-old-price {
        font-weight: 500;
        font-size: 26px;
        line-height: 46px;
        letter-spacing: -0.9px;
        color: indianred;
        text-decoration: line-through;
    }

.k-card .card-buttons {
    height: 58px;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 12px;
    gap: 3%;
}

    .k-card .card-buttons .cart-btn {
        width: 264px;
        height: 34px;
    }

    .k-card .card-buttons .favorites-btn {
        width: 34px;
        height: 34px;
    }