<div class="control">
	<div class="control-label">Model</div>
	<ul id="modelPicker"></ul>
</div>

<div class="control">
	<div class="control-label">Size</div>
	<ul id="sizePicker"></ul>
</div>

<div class="control">
	<div class="control-label">Color</div>
	<ul id="colorPicker"></ul>
</div>