@{
	ViewData["Title"] = "Summary";
}

<div class="summary-container wrap-width">
	@await Html.PartialAsync("_MainControls.cshtml")

	<div class="products-listView-container">
		<div>
			<p class="search-result" id="searchResultCount"></p>
			<hr class="splitter">
		</div>

		@await Html.PartialAsync("_ListViewHeader.cshtml")

		@(Html.Kendo().ListView<Models.ViewModels.ProductAllViewModel>()
			.Name("allProductsListView")
			.TagName("div")
			.Bordered(false)
			.DataSource(dataSource => dataSource
				.Ajax()
				.ServerOperation(true)
				.Read(r => r.Action("ReadAllProducts", "Products").Type(HttpVerbs.Get))
				.Group(g => g.Add(f => f.SubCategory))
				.Filter(f => {
					f.Add(a => a.Name).Contains(ViewBag.SearchParam);
				})
			)
			.ClientTemplateId("product-template")
			.Events(e => e.DataBound("onSummaryDataBound"))
		)
	</div>
</div>

<script type="text/html" id="product-template">
	# var searchParam = $("\\#searchBar").data("kendoAutoComplete").value(); #

	<a href="@Url.Action("Category", "Products")?subCategory=#=data.value#&searchParam=#=searchParam#">
		<div class="k-group-title">#= data.value # (#=data.items.length#)</div>
	</a>
	<div class="sub-category-cards">
		# for (var i = 0; i < data.items.length && i < 3; ++i) { #
			# var Id = data.items[i].Id; #
			# var Name = data.items[i].Name; #
			# var Price = data.items[i].Price; #
			# var FinalPrice = data.items[i].FinalPrice; #
			# var AverageRating = data.items[i].AverageRating; #
			# var DiscountPct = data.items[i].DiscountPct; #
			# var PhotoId = data.items[i].PhotoId; #			
			@await Html.PartialAsync("_TileProductCard.cshtml")
		# } #
	</div>
	# if(data.items.length > 3) { #		
		<a href="@Url.Action("Category", "Products")?subCategory=#=data.value#&searchParam=#=searchParam#">
			<p class="show-all">Show all results from <strong>#=data.value#</strong> subcategory</p>
		</a>
	# } #
</script>

<script>
	$(document).ready(function () {
        $(".toggle-view").hide();
		var searchParam = '@ViewBag.SearchParam';
		if (searchParam != null) {
			$("#searchBar").data("kendoAutoComplete").value(searchParam);
		}
	});
</script>
