@{
	ViewData["Title"] = "Orders Home Page";
}


<div class="orders-container">
	<div class="orders-title">Orders</div>
	    @(Html.Kendo().Grid<Models.ViewModels.OrderViewModel>()    
        .Name("grid_orders")
        .Columns(columns => {
            columns.Bound(p => p.OrderNumber).Title("Order ID").ClientTemplate("\\##=OrderNumber#");
            columns.Bound(p => p.OrderDate).Title("Ordered on").Format("{0:MM/dd/yyyy HH:mm:ss tt}").Media("(min-width: 650px)");
            columns.Bound(p => p.Total).Title("Total price").Format("{0:c}");
            columns.Bound(p => p.Status).ClientTemplate("#if(Status == 1){# In progress  #}else{# Completed #}#");
            columns.Template("<a href=" + @Url.Action("Details", "Orders") + "?orderNumber=#=OrderNumber# class='order-details-link'>View Order</a>");
        })
        .NoRecords()
        .Pageable()
        .Sortable()
        .Scrollable(s => s.Height("auto"))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Sort(s => s.Add(od => od.OrderDate).Descending())
            .Read(read => read.Action("Orders_Read", "Orders"))
         )
    )
</div>